{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{%static 'assets/css/style4.css'%}">
</head>
<body>
   <div class="container-fluid">
    <div class="row">
      <nav class="col-lg-2 bg-light" style="height: 100vh; overflow-y: auto;">
        <a class="navbar-brand" href="admin-dashboard">Dashboard</a>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="admin-contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="upload-picture">Upload</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </nav>
      <div class="col-lg-10">
<h1>Upload Picture</h1>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Upload</button>
</form>
</div>
</div>

</body>
